<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<title>勤怠履歴確認画面</title>
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
	<script th:src="@{/js/user/detail.js}" defer></script>
</head>

<body>
	<div layout:fragment="content">
		<!--年月選択フォーム-->
		<form th:action="@{/attendance/history/{email:.+}}" method="get" class="mb-3">
			<label for="year">年：</label>
			<select name="year" id="year">
				<option th:each="y : ${#numbers.sequence(targetYear - 2, targetYear)}" 
				th:value="${y}" th:text="${y}" th:selected="${y} == ${targetYear}"></option>
			</select>
			<label for="month">月：</label>
			<select name="month" id="month">
				<option th:each="m : ${#numbers.sequence(1, 12)}" 
				th:value="${m}" th:text="${m}" th:selected="${m} == ${targetMonth}"></option>
			</select>
			
			<button type="submit" class="btn btn-primary">選択年月を表示</button>
		</form>
		<!--CSV出力-->
		<form th:action="@{/attendance/history/csv}" method="get">
			<input type="hidden" name="year" th:value="${targetYear}" />
			<input type="hidden" name="month" th:value="${targetMonth}" />
			<button type="submit" class="btn btn-primary mt-3">CSV出力</button>
		</form>
		<table class="table table-bordered table-striped">
			<thead class="table-dark">
				<tr>
					<th>日付</th>
					<th>出勤時間</th>
					<th>退勤時間</th>
					<th>実働時間</th>
					<th>休憩時間</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="summary : ${history}">
					<td th:text="${summary.workDate}"></td>
					<td th:text="${summary.workStart}"></td>
					<td th:text="${summary.workEnd}"></td>
					<td th:text="${summary.workingMinutes}"></td>
					<td th:text="${summary.breakMinutes}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>