<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	</meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--CSS読み込み-->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/login/login.css}">
	<!--JS読み込み-->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/css/bootstrap.min.js}" defer></script>
	<title>ログイン</title>
</head>

<body class="bg-light">
	<div class="text-center" th:if="${message}" style="color: green; font-weight: bold;" th:text="${message}"></div>

	<form th:action="@{/password/change}" th:object="${changePasswordForm}" method="post" class="form-login">
		<h2>パスワード変更</h2>
		<div>
			<label>ユーザーID</label><br />
			<input type="text" th:value="${userId}">
			<div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
		</div>

		<div>
			<label>新しいパスワード</label><br />
			<input type="password" th:field="*{newPassword}">
			<div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
		</div>

		<div>
			<label>確認用パスワード</label><br />
			<input type="password" th:field="*{confirmPassword}">
			<div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
		</div>

		<button type="submit">変更する</button>
		<button type="button" onclick="history.back()">戻る</button>
	</form>
</body>

</html>