<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>ユーザー詳細</title>
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
	<script th:src="@{/js/user/detail.js}" defer></script>
</head>

<body>
	<div layout:fragment="content">
		<div style="margin-top: 20px;">
			<div class="header border-bottom mb-4">
				<h1 class="h2">ユーザー詳細画面</h1>
			</div>
			<div class="card shadow-sm" style="max-width: 600px; margin: 0 auto;">
				<div class="card-body">
					<form id="user-detail-form" method="post" th:action="@{/user/detailview}"
						th:object="${userDetailForm}">
						<!--ユーザー詳細画面-->
						<table class="table table-bordered mb-0">
							<tbody>
								<tr>
									<th class="w-25 bg-light">ユーザーID</th>
									<td th:text="*{email}"></td>
								</tr>
								<tr>
									<th class="w-25 bg-light">ユーザー名</th>
									<td th:text="*{name}"></td>
								</tr>
								<tr>
									<th class="w-25 bg-light">部署名</th>
									<td th:text="*{departmentName}"></td>
								</tr>
								<tr>
									<th class="bg-light">有給残日数</th>
									<td th:text="|${remainingDays}日|"></td>
								</tr>
							</tbody>
						</table>
					</form>
					<div class="text-center mt-4">
						<a class="btn btn-outline-primary" th:href="@{'/user/detail/' + ${user.email}}">ユーザー詳細編集</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>