<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>ユーザー詳細編集</title>
	<link rel="stylesheet" href="@{/css/user/list.css}">
	<script th:src="@{/js/user/detail.js}" defer></script>
</head>

<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<h1 class="h2">ユーザー詳細編集画面</h1>
		</div>
		<form id="user-detail-form" method="post" class="form-signup" th:action="@{/user/detail}"
			th:object="${userDetailForm}">
			<input type="hidden" th:field="*{email}" />
			<!--ユーザー詳細情報-->
			<table class="table table-striped table-borderd table-hover">
				<tbody>
					<tr>
						<th class="w-25">ユーザーID</th>
						<td th:text="*{email}"></td>
					</tr>
					<tr>
						<th>パスワード</th>
						<td>
							<input type="password" class="form-control" th:field="*{password}" />
						</td>
					</tr>
					<tr>
						<th>ユーザー名</th>
						<td>
							<input type="text" class="form-control" th:field="*{name}" />
						</td>
					</tr>
					<tr sec:authorize="hasRole('ADMIN')">
						<th>部署名</thsec:authorize="hasAuthority('ADMIN')">
						<td>
							<input type="text" class="form-control" th:field="*{departmentId}" />
						</td>
					</tr>
				</tbody>
			</table>
			<!--ボタンエリア-->
			<div class="text-center">
				<button class="btn btn-danger" type="submit" name="delete" value="delete" tr
					sec:authorize="hasRole('ADMIN')">
					削除
				</button>
				<button class="btn btn-primary" type="submit" name="update" value="update">
					更新
				</button>
			</div>
		</form>
	</div>
</body>

</html>